<%= form_for todo, html: { class: "form-inline" } do |f| %>
  <div class="form-group">
    <%= f.label :content, class: "sr-only" %>
    <%= f.text_field :content, class: "form-control", placeholder: "Add a todo" %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :complete, class: "form-control" %>
      Complete?
    </label>
  </div>
  <%= f.button icon('plus'), class: "btn btn-success" %>
<% end %>
