<div class="page-header">
  <h1>Todos</h1>
</div>

<div class="panel panel-primary">
  <ul class="list-group">
    <% @todos.each do |todo| %>
    <li class="list-group-item">
      <div class="btn-group">
        <%= link_to icon('search-plus'), todo, class: "btn btn-primary btn-sm" %>
        <%= link_to icon('edit'), edit_todo_path(todo), class: "btn btn-warning btn-sm" %>
        <%= link_to icon('trash-o'), todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
      </div>

      <% if todo.complete? %>
        <strike><%= todo.content %></strike>
      <% else %>
        <%= todo.content %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
